/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .header-icons {
    display: flex;
  }
  .header-menu-burger i {
    padding: 20px;
    color: #ffffff;
  }
  .header-menu-burger {
    color: white;
    background-color: #ff4a52;
  }
  .header-search {
    color: white;
    background-color: #ff4a52;
    margin-right: 10px;
  }
  .header-search i {
    padding: 15px 20px;
    color: #ffffff;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .populer-main {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .populer-main article {
    margin-right: 20px;
  }
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .header-menu-ul li {
    display: inline-block;
  }
  .header-menu-burger {
    display: none;
  }
  .header {
    padding: 0;
  }
  .header-search {
    padding: 20px;
  }
  .footer{
    flex-direction: row;
    justify-content: space-around;
  }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .search-container {
    flex-direction: row;
  }
  .search-form {
    margin-left: 20px;
    flex-direction: row;
    flex-grow: 2;
  }
  .search-input {
    margin-bottom: 0;
    margin-right: 20px;
    flex-grow: 1;
  }
  .subscribe-container {
    flex-direction: row;
    justify-content: center;
    height: 250px;
   
  }
  .subscribe-form {
    display: inline-block;
    width: 60%;
    margin-left: 10px;
  }
  .subscribe-form input {
    width: calc(80% - 30px) !important;
  }
  .subscribe-form button {
    width: calc(20% - 30px) !important;
  }
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
  .populer-main {
    width: 1200px !important;
    margin: 100px auto;
  }
}
